/* You can add global styles to this file, and also import other style files */

$txt-danger: #ff0000; 
$color-white: #ffffff;
$color-grey: slategrey;
$color-background-blue: #0d6efd;
$color-btn-solid: #999999;
$color-btn-background: #cccccc;
$color-btn: #666666;